body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  background-color: #f1f1f1;
}

/*Header Styles - Desktop View*/

header {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
}

header > a:focus {
  outline: none;
}

header > a:focus-visible {
  outline: 1px solid #005bd3;
}

#mobileShopifyIcon {
  display: none;
}

#search-box {
  display: flex;
  padding: 8px;
  align-items: center;
  width: 480px;
  background-color: #303030;
  border: 1px solid #616161;
  border-radius: 8px;
  gap: 6px;
}

#search-box:hover {
  border: 1px solid #e1e1e1;
}

#search-box:hover > #search-icon > path {
  fill: #e1e1e1;
}

#search-bar:focus + #search-box,
#search-box:focus-within {
  border: 1px solid #fff;
  outline: none;
}

#search-icon > path {
  fill: #b5b5b5;
}

#search-bar:focus ~ #search-icon path {
  fill: #fff;
}

#search-bar {
  outline: none;
  border: 0;
  background-color: transparent;
  color: #b5b5b5;
  width: 440px;
  font-size: 13px;
  line-height: 18px;
}

#profile-box {
  display: flex;
  color: white;
  align-items: center;
}

#profile {
  display: flex;
  align-items: center;
}

#notification-icon {
  background-color: #303030;
  padding: 8px;
  margin-right: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#notification-icon:focus {
  outline: none;
}

#notification-icon:focus-visible {
  /* border-radius: 8px; */
  outline: 1px solid #005bd3;
}

#notification-icon:hover {
  background-color: #616161;
}

#notification-box {
  position: absolute;
  top: 74px;
  right: 0;
  margin-right: 20px;
  border-radius: 8px;
  background-color: white;
  color: #303030;
  padding: 16px;
  z-index: 10;
}

#alert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

#alert-h1 {
  font-size: 15px;
  line-height: 20px;
}

#notifications {
  background-color: #f1f1f1;
  padding: 8px;
}

#filter:focus {
  outline: none;
  border-radius: 6px;
}

#filter:focus-visible {
  outline: 1px solid #005bd3;
  border-radius: 6px;
}

#mark:focus {
  outline: none;
  border-radius: 6px;
}

#mark:focus-visible {
  outline: 1px solid #005bd3;
  border-radius: 6px;
}

#profile {
  border-radius: 8px;
  background-color: #303030;
  padding: 2px 2px 2px 8px;
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  border: 0;
}

#profile:hover {
  background-color: #616161;
}

#profile:focus {
  outline: none;
}

#profile:focus-visible {
  outline: 1px solid #005bd3;
}

#profile > p {
  color: rgba(227, 227, 227, 1);
}

.dc {
  background-color: #36fba1;
  padding: 9px 5px 10px 5px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.4);
}

#profile-menu {
  position: absolute;
  list-style: none;
  top: 64px;
  padding: 4px;
  right: 0;
  margin-right: 20px;
  background-color: white;
  color: #303030;
  min-width: 250px;
  border-radius: 8px;
  z-index: 6;
  display: flex;
  flex-direction: column;
}

#profile-menu > a {
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  color: #303030;
}

hr {
  width: 100%;
}

#profile-menu > a:first-of-type {
  padding: 12px 8px;
}

#profile-menu > a:hover {
  background-color: #f7f7f7;
}

#pm-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-pmi {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.active-pmi-y {
  border-radius: 1px solid;
}

#all-s {
  display: flex;
  align-items: center;
}

#all-s:focus {
  outline: none;
}

#all-s:focus-visible {
  outline: 1px solid #005bd3;
}

#mail {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

#email {
  color: var(--grey-grey-100, var(--font-mid-2, #616161));
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px; /* 15.6px */
}

#blue-br-one:focus,
#blue-br-two:focus,
#blue-br-three:focus,
#blue-br-four:focus,
#blue-br-five:focus,
#yellow-br-two:focus,
#yellow-br-three:focus {
  outline: none;
}

#blue-br-one:focus-visible,
#blue-br-two:focus-visible,
#blue-br-three:focus-visible,
#blue-br-four:focus-visible,
#blue-br-five:focus-visible,
#yellow-br-two:focus-visible,
#yellow-br-three:focus-visible {
  outline: 1px solid #005bd3;
}

/* Header styles - Mobile View */
@media screen and (max-width: 820px) {
  #search-box {
    width: 60%;
    margin: 0 5px;
  }
}

@media screen and (max-width: 650px) {
  #laptopShopifyIcon {
    display: none;
  }

  #profile {
    padding: 0;
  }

  #profile > p {
    display: none;
  }

  #mobileShopifyIcon {
    display: block;
  }
}

/* Main Styles - Desktop View */

main {
  width: 800px;
  margin: auto;
}

#ad {
  display: flex;
  background-color: black;
  color: rgba(227, 227, 227, 1);
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 12px 8px 12px 16px;
  margin-top: 32px;
  font-family: inherit;
}

#ad > div > h1 {
  color: #e3e3e3;
  font-size: 13px;
  line-height: 18px;
}

#ad > span {
  display: flex;
  align-items: center;
  gap: 8px;
}

#ad > span > button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #323232;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}

#ad > span > button > a {
  text-decoration: none;
  color: inherit;
}

#cancel {
  cursor: pointer;
}

#cancel:focus {
  outline: none;
}

#cancel:focus-visible {
  outline: 1px solid #005bd3;
  border-radius: 6px;
}

#setup-guide {
  background-color: white;
  margin-top: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}

#sg-header {
  display: flex;
  justify-content: space-between;
}

#sg-header-text > h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

#sg-header-text > p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

#sg-header-text-div {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

#progress {
  display: flex;
  gap: 8px;
  align-items: center;
}

#progress > span {
  color: var(--font-dark, var(--grey-g-200, #303030));

  /* Text-12/regular */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 15.6px */
}

.progress-bar-container {
  width: 100px;
  height: 3px;
  background-color: #ddd;
  margin-top: 8px;
  position: relative;
  top: -3px;
  border-radius: 4px;
}

.progress-bar {
  display: block;
  height: 100%;
  width: 0;
  background-color: black; /* Green color */
  transition: width 0.3s ease;
}

#dropdownButton {
  cursor: pointer;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 6px;
  justify-content: center;
}

#dropdownButton:hover {
  border-radius: 6px;
  background: var(--states-hover, #f1f1f1);
}

#t-open,
#t-close {
  cursor: pointer;
  max-width: 40px;
  max-height: 40px;
}

#dropdownButton:focus {
  outline: none;
}

#dropdownButton:focus-visible {
  outline: 1px solid #005bd3;
}

.hidden {
  display: none;
}

.setup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  gap: 8px;
}

#circleOne:focus,
#circleTwo:focus,
#circleThree:focus,
#circleFour:focus,
#circleFive:focus {
  outline: none;
}

#circleOne:focus-visible,
#circleTwo:focus-visible,
#circleThree:focus-visible,
#circleFour:focus-visible,
#circleFive:focus-visible {
  height: 20px;
  outline: 1px solid #005bd3;
  padding: 2px;
}

#setupOne:focus-visible,
#setupTwo:focus-visible,
#setupThree:focus-visible,
#setupFour:focus-visible,
#setupFive:focus-visible {
  background-color: #f0f0f0;
  outline: 1px solid #005bd3;
}

.setup:hover {
  background-color: #f7f7f7;
}

.setup-p-bg {
  background-color: #f0f0f0;
}

.setup > div:first-of-type {
  display: flex;
  width: 100%;
}

.setup-text {
  width: 100%;
  flex: 1;
}

.setup > div > div > svg {
  position: relative;
  top: -3px;
}

.setup-text {
  margin-left: 8px;
  /* max-width: 480px; */
}

.setup-text > h1 {
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-top: 0;
  gap: 6px;
  margin-bottom: 0;
  color: #303030;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.setup-text > p {
  color: #616161;

  /* Text-13/medium */
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.2px */
}

.setup-text > p > a {
  text-decoration: none;
  color: #005bd3;
  font-size: 14px;
  font-weight: 500;
}

#setup-sect-btn-two,
#setup-sect-btn-one,
#setup-sect-btn-three,
#setup-sect-btn-four,
#setup-sect-btn-five {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  color: #f6f3f6;
}

#setup-sect-btn-six {
  border: 0;
  background: transparent;
  box-shadow: 0;
  color: #323232;
}

#setup-sect-btn-two:hover,
#setup-sect-btn-one:hover,
#setup-sect-btn-three:hover,
#setup-sect-btn-four:hover,
#setup-sect-btn-five:hover {
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #2a2a2a;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  cursor: pointer;
}

.btnClick {
  border-radius: 6px;
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.setup-text > div {
  display: flex;
  gap: 8px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#setup-sect-load-one,
#setup-sect-load-two,
#setup-sect-load-three,
#setup-sect-load-four,
#setup-sect-load-five {
  animation: rotate 1s infinite linear;
}

#mobile-ad-btn {
  display: none;
}

/* Main Styles - Mobile View */
@media screen and (max-width: 820px) {
  main {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 0;
  }

  #mobile-ad-btn {
    display: block;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #323232;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    max-width: 100px;
  }

  #ad > div {
    display: flex;
    flex-direction: column;
  }

  #ad > span > button {
    display: none;
  }

  #setup-sect-img-one,
  #setup-sect-img-two,
  #setup-sect-img-three,
  #setup-sect-img-four,
  #setup-sect-img-five {
    display: none;
  }
}
